<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Add your CSS stylesheets or links here -->
</head>
<body>
    <div class="container">
        {% if messages %}
            <div class="error-messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <h2>Login</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="Email" placeholder="Enter Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </div>
    <!-- Add your JavaScript scripts or links here -->
</body>
</html>

